{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Carnival</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <nav>
        <ul>
            
            
                <li>
                    <a style="text-decoration: none; color: aliceblue;" href="/signup/"> HOME</a>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </li>  
           
            
           
    <!-- <       <li><a style="text-decoration: none; color: aliceblue;" href="/signup/">HOME</a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </li>>
            -->
            <li><a style="text-decoration: none; color: aliceblue;" href="/about">ABOUT US</a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </li>   
            
            <li><a style="text-decoration: none; color: aliceblue;" href="">CONTACTS</a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </li>            
            
            <li><a style="text-decoration: none; color: aliceblue;" href="">ENQUIRY</a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </li>
        </ul>
    </nav>
    <div style="display: block;">
        <h1 style="margin-left: 10px; margin-bottom: -250px;color: aqua; font-size: 150px;font-family: sans-serif;"
        >Career Carnival</h1><br><br>
        <h6 style="margin-left: 20px ;color: aqua; font-size: 80px;font-family: sans-serif;"
        >Where Your Dream Job Awaits.</h6>
        
    </div>
</body>
<body>
   
    
</body>
</html>